<div class="formulario">
    <div class="nombre-input">
      <input type="text" [(ngModel)]="nombre" placeholder="Nombre del vehículo"/>
    </div>
  
    <div class="tipo-seleccion">
      <button (click)="tipo = 'Coche'" [class.selected]="tipo === 'Coche'">
        <img src="/coche.png" alt="Coche">
      </button>
      <button (click)="tipo = 'Moto'" [class.selected]="tipo === 'Moto'">
        <img src="/moto.png" alt="Moto">
      </button>
    </div>
  
    <div class="acciones">
      <button (click)="nombre = ''" class="borrar">❌</button>
      <button (click)="agregarVehiculo()" class="guardar">✔</button>
    </div>
  </div>
  